<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						http://www.springframework.org/schema/cache 
                        http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"> 
 
 
 	 <!--  	  <context:annotation-config/>  
 	  <context:component-scan base-package="com.sdc.common.*.redis.*" /> -->
	 
	  
	  <!--  加载redisdata配置文件 -->
	 <!--  <context:property-placeholder location="classpath:redis-data.properties"/> -->
	  
<!-- 	  redisdata连接池的配置
	  <bean id="jedisDataPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		  <property name="minIdle" value="${redisdata.pool.minIdle}"/>
		  <property name="maxIdle" value="${redisdata.pool.maxIdle}"/>
		  <property name="maxTotal" value="${redisdata.pool.maxTotal}"/>
		  <property name="maxWaitMillis" value="${redisdata.pool.maxWaitMillis}"/>
		  <property name="testOnBorrow" value="${redisdata.pool.testOnBorrow}"/>
		  <property name="testOnReturn" value="${redisdata.pool.testOnReturn}"/>
	  </bean>
	  
	  
	  redisdata的连接池pool，不是必选项：timeout/password 
	  <bean id = "jedisPool" class="redisdata.clients.jedis.JedisPool">
		  <constructor-arg index="0" ref="jedisPoolConfig"/>
		  <constructor-arg index="1" value="${redisdata.host}"/>
		  <constructor-arg index="2" value="${redisdata.port}" type="int"/>
		  <constructor-arg index="3" value="${redisdata.timeout}" type="int"/>
	  </bean>
	  
	  <bean id="jedisDataConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"  
       p:host-name="${redisdata.host}" p:port="${redisdata.port}" p:timeout="${redisdata.timeout}"  p:pool-config-ref="jedisDataPoolConfig"/> --> 
	  
	  
	 <!--  <bean id="redisBase" class="com.sdc.utils.redis.RedisBase" /> -->
	  

	  
	 
	 <!-- redis 缓存 --> 
	 <!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->  
  <!--   <cache:annotation-driven cache-manager="cacheManager" key-generator="myKeyGenerator" />  
    
     redis 相关配置  
     <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">  
         <property name="maxIdle" value="${redis.pool.maxIdle}" />
         <property name="maxTotal" value="${redis.pool.maxTotal}" />
         <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" />  
         <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
         <property name="testOnReturn" value="${redis.pool.testOnReturn}"/>  
     </bean>  

     <bean id="jedisCacheConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
     	<property name="poolConfig" ref="poolConfig" />  
        <property name="port" value="${rediscache.pool.port}" />  
        <property name="hostName" value="${rediscache.pool.hostName}" />  
        <property name="password" value="${rediscache.pool.password}" />  
        <property name="timeout" value="${redis.pool.timeout}" />
     </bean>  
  
     <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">  
         <property name="connectionFactory" ref="jedisCacheConnectionFactory" />  
         <property name="keySerializer">  
	         <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />  
	     </property>  
	     <property name="valueSerializer">  
	         <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />  
	     </property>  
	     <property name="hashKeySerializer">  
	         <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />  
	     </property>  
	     <property name="hashValueSerializer">  
	         <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />  
	     </property>       
     </bean>  
     
     spring自己的缓存管理器，这里定义了缓存位置名称 ，即注解中的value  
     <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">  
         <property name="caches">  
            <set>  
                这里可以配置多个redis
                <bean class="com.cn.util.RedisCache">  
                     <property name="redisTemplate" ref="redisTemplate" />  
                     <property name="name" value="default"/>  
                </bean>  
                <bean class="com.sdc.utils.redis.cache.RedisCache">  
                     <property name="redisTemplate" ref="redisTemplate" />  
                     <property name="name" value="demo"/>  
                     <property name="preKey" value="${rediscache.pool.preKey}"/>  
                     <property name="timeout" value="${rediscache.pool.expiretime}" /> 
                     common名称要在类或方法的注解中使用
                </bean>
            </set>  
         </property>  
     </bean>  
     <bean id="myKeyGenerator" class="com.sdc.utils.redis.cache.key.MyKeyGenerator"/> -->
	  
	  
  </beans>