<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mongo="http://www.springframework.org/schema/data/mongo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context-4.0.xsd   
          http://www.springframework.org/schema/data/mongo   
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd   
          ">  
    <context:component-scan base-package="com.sdc.common.*.mongo.*" />  
       
    <!-- 加载mongodb的属性配置文件 -->
    <!-- <context:property-placeholder location="classpath:spring/properties/mongo.properties" /> -->
  
    <!-- Default bean name is 'mongo' -->  
    <!-- 连接池配置详细查看http://api.mongodb.org/java/2.7.2/com/mongodb/MongoOptions.html#connectionsPerHost   
        或者http://www.cnblogs.com/huangfox/archive/2012/04/01/2428947.html  
    -->  
    
<!--     <mongo:mongo id="mongo"  replica-set="${mongo.replicaSet}">  
       
         connections-per-host: 每个主机答应的连接数（每个主机的连接池大小），当连接池被用光时，会被阻塞住   
         max-wait-time: 被阻塞线程从连接池获取连接的最长等待时间（ms）  
         connect-timeout:在建立（打开）套接字连接时的超时时间（ms）  
         socket-timeout:套接字超时时间;该值会被传递给Socket.setSoTimeout(int)  
         slave-ok:指明是否答应驱动从次要节点或者奴隶节点读取数据  
          
    <mongo:options  
        connections-per-host="${mongo.connectionsPerHost}"  
        threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"  
        connect-timeout="${mongo.connectTimeout}"   
        max-wait-time="${mongo.maxWaitTime}"  
        auto-connect-retry="${mongo.autoConnectRetry}"   
        socket-keep-alive="${mongo.socketKeepAlive}"  
        socket-timeout="${mongo.socketTimeout}"  
        slave-ok="${mongo.slaveOk}"  
        write-number="${mongo.writeNumber}"  
        write-timeout="${mongo.riteTimeout}"  
        write-fsync="${mongo.writeFsync}"/>  
    </mongo:mongo>  
  
  
    Spring提供的mongodb操作模板  
    <bean id="mongoTemplate"  
        class="org.springframework.data.mongodb.core.MongoTemplate">  
        <constructor-arg ref="mongo" />  
        <constructor-arg name="databaseName" value="${mongo.dbname}" />  
    </bean> 
    
    <bean id="mongoBase"  
        class="com.sdc.utils.mongo.impl.MongoBaseImpl">  
        <constructor-arg ref="mongoTemplate" />  
    </bean> 
</beans> -->

 <!--  write-concern="${mongo.writeNumber}"  -->

 <mongo:mongo-client id="mongoClient" host="${mongo.host}" port="${mongo.port}" >
	  <mongo:client-options 
	   connections-per-host="${mongo.connectionsPerHost}"
	   threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
	   connect-timeout="${mongo.connectTimeout}"
	   socket-timeout="${mongo.socketTimeout}"
	 
	    />
 </mongo:mongo-client>
 
 <!-- MongoDB Factory for prod-comet-trans : SimpleMongoDbFactory(com.mongodb.MongoClient mongoClient, String databaseName) -->
 <mongo:db-factory id="mongoFactory"
  mongo-ref="mongoClient" dbname="${mongo.dbname}" />
 
 	<!-- Spring提供的mongodb操作模板-->  
    <bean id="mongoTemplate"  
        class="org.springframework.data.mongodb.core.MongoTemplate">  
        <constructor-arg name="mongoDbFactory" ref="mongoFactory" />  
    </bean> 
    
    <bean id="mongoBase"  
        class="com.sdc.system.spring.mongo.MongoBaseImpl">  
        <constructor-arg ref="mongoTemplate" />  
    </bean> 
 
  <mongo:mongo-client id="mongoScrmClient" host="${mongo1.host}" port="${mongo1.port}" >
	  <mongo:client-options 
	   connections-per-host="${mongo1.connectionsPerHost}"
	   threads-allowed-to-block-for-connection-multiplier="${mongo1.threadsAllowedToBlockForConnectionMultiplier}"
	   connect-timeout="${mongo1.connectTimeout}"
	   socket-timeout="${mongo1.socketTimeout}"
	    />
  </mongo:mongo-client>
  <mongo:db-factory id="mongoScrmFactory"
  mongo-ref="mongoScrmClient" dbname="${mongo1.dbname}" />
    <bean id="mongoScrmTemplate"  
        class="org.springframework.data.mongodb.core.MongoTemplate">  
        <constructor-arg name="mongoDbFactory" ref="mongoScrmFactory" />  
    </bean> 
    <bean id="mongoScrmBase"  
        class="com.sdc.system.spring.mongo.MongoScrmBaseImpl">  
        <constructor-arg ref="mongoScrmTemplate" />  
    </bean>
    
</beans>



